{% load static %}
<div class="swiper product-slider-thumbs">
    <div class="swiper-wrapper">
        <div class="swiper-slide h-auto swiper-thumb-item mb-3">
            <img class="w-100" src="{% static 'store/img/product-detail-1.jpg' %}" alt="...">
        </div>
        <div class="swiper-slide h-auto swiper-thumb-item mb-3">
            <img class="w-100" src="{% static 'store/img/product-detail-2.jpg' %}" alt="...">
        </div>
        <div class="swiper-slide h-auto swiper-thumb-item mb-3">
            <img class="w-100" src="{% static 'store/img/product-detail-3.jpg' %}" alt="...">
        </div>
        <div class="swiper-slide h-auto swiper-thumb-item mb-3">
            <img class="w-100" src="{% static 'store/img/product-detail-4.jpg' %}" alt="...">
        </div>
    </div>
</div>
