{% load static %}
<div class="swiper product-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide h-auto">
            <a class="glightbox product-view"
               href="img/product-detail-1.jpg"
               data-gallery="gallery2"
               data-glightbox="Product item 1">
                <img class="img-fluid" src="{% static 'store/img/product-detail-1.jpg' %}" alt="...">
            </a>
        </div>
        <div class="swiper-slide h-auto">
            <a class="glightbox product-view"
               href="img/product-detail-2.jpg"
               data-gallery="gallery2"
               data-glightbox="Product item 2">
                <img class="img-fluid" src="{% static 'store/img/product-detail-2.jpg' %}" alt="...">
            </a>
        </div>
        <div class="swiper-slide h-auto">
            <a class="glightbox product-view"
               href="img/product-detail-3.jpg"
               data-gallery="gallery2"
               data-glightbox="Product item 3">
                <img class="img-fluid" src="{% static 'store/img/product-detail-3.jpg' %}" alt="...">
            </a>
        </div>
        <div class="swiper-slide h-auto">
            <a class="glightbox product-view"
               href="img/product-detail-4.jpg"
               data-gallery="gallery2"
               data-glightbox="Product item 4">
                <img class="img-fluid" src="{% static 'store/img/product-detail-4.jpg' %}" alt="...">
            </a>
        </div>
    </div>
</div>